Source: libwdbload
Section: science
Priority: extra
Maintainer: WDB Group, Meteorologisk institutt <wdb@met.no>
Uploaders: Michael O. Akinde <michael.akinde@met.no>
Build-Depends: debhelper (>= 7),
 autoconf,
 automake (>=1.9),
 cdbs,
 wdb,
 libboost-test-dev
Build-Conflicts: autoconf2.13,
 automake1.4
Standards-Version: 3.9.3

Package: libwdbload-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
 libwdbload4 (= ${binary:Version}),
 wdb
Replaces: libwdbload1-dev, libwdbload2-dev, libwdbload3-dev
Description: Base (developer) library for loading data into wdb
 Provides basic functionality for loading data into the wdb database.

Package: libwdbload4
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Suggests: wdb
Description: Base library for loading data into wdb
 Provides basic functionality for loading data into the wdb database
