Source: libwdbload2
Section: science
Priority: extra
Maintainer: Vegard Bønes <wdb@met.no>
Build-Depends: debhelper (>= 5),
 autoconf,
 automake (>=1.9),
 wdb
Build-Conflicts: autoconf2.13,
 automake1.4
Standards-Version: 3.9.1

Package: libwdbload2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
 libwdbload2 (= ${binary:Version})
Description: Base (developer) library for loading data into wdb
 Provides basic functionality for loading data into the wdb database. Includes developer files (headers)

Package: libwdbload2
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 wdb
Description: Base library for loading data into wdb
 Provides basic functionality for loading data into the wdb database
